<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i> {{name}}</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="/">خانه</a>
        {{#if userData.isLoggedIn}}
        <a href="/dashboard">داشبورد</a>
        {{/if}}
        {{#unless userData.isLoggedIn}}
        <a href="/signin">ورود</a>
        <a href="/signup">ثبت نام</a>
        {{/unless}}
        <a href="/photos">تصاویر تالار</a>
        {{#if userData.isLoggedIn}}
            {{#if (gt userData.orders.length 0)}}
            <a style="color: blue;" class="fas fa-shopping-cart" href="/dashboard/orders">{{userData.foods}}</a>
            {{/if}}
        <a style="color: red;" href="/logout">خروج حساب</a>
        {{/if}}
    </nav>

</header>