<section class="footer">
    <h1 class="credit"> طراحی توسط <a href="https://github.com/0xDeviI"> آرمین آصفی </a> | کلیه حقوق برای {{name}} محفوظ
        است </h1>
</section>
{{!-- <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
<div class="loader-container">
    <img src="/images/loader.gif" alt="">
</div>
<script src="/js/script.js"></script> --}}
<script src="/js/Notification.js"></script>
<script src="/js/foodika.js"></script>
<script>
    security.setLocalStorage('isLoggedIn', '{{userData.isLoggedIn}}');
</script>
