<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i> {{name}}</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">خانه</a>
        <a href="#speciality">تخصص</a>
        <a href="#popular">محبوب</a>
        <a href="#gallery">گالری</a>
        <a href="#review">نظرات</a>
        <a href="#order">سفارش</a>
    </nav>

</header>