<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/utensils-solid.svg">
</head>
<body>

{{> menu}}

<section class="home" id="home">

    <div class="content">
        <h3>غذای پخته شده با عشق</h3>
        <p>وقت غذاست؟ فودیکا همراه شماست. انتخاب کن، سفارش بده، در خونته!</p>
        <a href="#" class="btn">اکنون سفارش دهید</a>
    </div>

    <div class="image">
        <img src="images/home-img.png" alt="">
    </div>

</section>


</body>
</html>