<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/utensils-solid.svg">
    {{> userrequired}}
</head>

<body>
    <div id="page" hidden>{{ page }}</div>
    {{> header}}
    <section class="popular" id="popular">

        <h1 class="heading">منوی <span>{{name}}</span></h1>

        <div class="box-container">
            <div class="box">
                <img src="images/s-img-1.jpg" alt="">
            </div>
            <div class="box">
                <img src="images/s-img-2.jpg" alt="">
            </div>
            <div class="box">
                <img src="images/s-img-3.jpg" alt="">
            </div>
            <div class="box">
                <img src="images/s-img-4.jpg" alt="">
            </div>
        </div>

    </section>
    {{> mainfooter }}
</body>

</html>