<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/utensils-solid.svg">
    {{> userrequired}}
</head>

<body>
    <div id="page" hidden>{{ page }}</div>
    {{> header}}

    <section class="home" id="home">

        <div class="content">
            <h3>ایجاد حساب کاربری</h3>
            <p id="ptext">برای ثبت سفارش یک حساب کاربری بسازید.</p>
            <input id="name" name="name" class="textbox w80p" type="text" placeholder="نام و نام خانوادگی">
            <input id="username" name="username" class="textbox w80p mrt" type="text" placeholder="نام کاربری">
            <input id="password" name="password" class="textbox w80p mrt" type="password" placeholder="کلمه عبور">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <br>
            <button id="signup" class="btn">ثبت نام</button>
        </div>

        <div class="image">
            <img src="images/home-img.png" alt="">
        </div>

    </section>
{{> mainfooter }}
</body>
</html>