<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{title}} </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/utensils-solid.svg">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div id="page" hidden>{{ page }}</div>
    {{> menu}}

    <section class="home" id="home">

        <div class="content">
            <h3>ایجاد حساب کاربری</h3>
            <p id="ptext">برای ثبت سفارش یک حساب کاربری بسازید.</p>
            <input id="name" name="name" class="textbox w80p" type="text" placeholder="نام و نام خانوادگی">
            <input id="username" name="username" class="textbox w80p mrt" type="text" placeholder="نام کاربری">
            <input id="password" name="password" class="textbox w80p mrt" type="password" placeholder="کلمه عبور">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <br>
            <button id="signup" class="btn">ثبت نام</button>
        </div>

        <div class="image">
            <img src="images/home-img.png" alt="">
        </div>

    </section>

<script src="js/Notification.js"></script>
<script src="js/foodika.js"></script>
</body>
</html>